ul{
	list-style:none;
	padding:0;
}
#content li{
	display: inline-block;
	margin-right:20px;
}
.row>div{
	display: inline-block;
	margin-right:20px;
	vertical-align: top;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:blue;
}
.column>li{
	display:block;
}
img{
	vertical-align: bottom;
}
.active a{
	color:blue;
}